# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
.RDataTmp
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# pkgdown site
docs/
# translation temp files
po/*~
# RStudio Connect folder
rsconnect/
creds.powershell/
r/creds/
data/
data0/
r/support-scripts/setup0.R
log/

bak/
bak/.venv/.lock
bak/.venv/
.positai
tmp/
r/draft/
r/models/bak/
r/models/cnn/bak/
r/models/cnn/img/
r/models/cnn/research/bak
r/support-functions/bak/
r/support-scripts/bsk/
.vs/
/r/draft/bak/bak000.zip
/r/draft/models/knn+pca&rf.R
/r/draft/research/data.explore.R
/r/models/bak/knn+pca&rf.bak000.R
/r/models/bak/knn+pca&rf.bak001.R
/r/models/cnn/bak/cnn-binary.bak000.R
/r/models/cnn/bak/cnn-binary.bak001.R
/r/models/cnn/bak/cnn-binary.bak002.R
/r/models/cnn/bak/cnn-binary.bak003.R
/r/models/cnn/bak/cnn-binary.ensemble.bak000.R
/r/models/cnn/bak/cnn-model.draft1.R
/r/models/cnn/bak/cnn-multiclass.draft2.R
/r/models/cnn/bak/cnn-multiclass.draft3.R
/r/models/cnn/bak/cnn-multiclass.draft4.R
/r/models/cnn/bak/cnn-multiclass.draft5.R
/r/models/cnn/bak/cnn-multiclass.evaluation.bak000.R
/r/models/cnn/bak/cnn-multiclass.evaluation.bak001.R
/r/models/cnn/bak/cnn-multiclass.evaluation.bak002.R
/r/support-functions/bak/bak000.zip
/r/support-functions/bak/data-helper.bak003.R
/r/support-scripts/bsk/bak000.zip
/r/support-scripts/bsk/load-cnn-dataset.R
/r/support-scripts/bsk/setup0.R
/r/support-functions/helper.tmp.R
/r/models/cnn/img/augmentation-fit2026-05-01 014944.png
/r/models/cnn/img/augmentation-gen2026-05-01 014835.png
/r/models/cnn/img/augmentation.history-plot1.2026-05-01 015456.png
/r/models/cnn/img/augmentation.history-plot2.2026-05-01 015611.png
/r/models/cnn/img/augmentation.history-plot3.2026-05-01 015715.png
/r/models/cnn/img/augmentation2026-05-01 014335.png
/r/models/cnn/img/augmnt-model2.2026-05-01 021228.png
/r/models/cnn/img/augmnt.history-plot4.2026-05-01 015922.png
/r/models/cnn/img/augmnt.history-plot6.2026-05-01 021026.png
/r/models/cnn/img/ml-foundation2026-05-01 205535.png
/r/models/cnn/research/tmp.R
/r/models/cnn/research/bak/cnn-model.draft2research1.R
/r/models/cnn/research/bak/cnn-model.draft2research2.R
/r/models/cnn/research/bak/cnn-model.draft2research3.R
*.keras
